body{
    color: black;
    background-color: #abf5db
}

span{
    font-size: 30px;
}

.header{
    font-size:18px;
    border-radius: 10px;
    letter-spacing: 10px;
}

p{
    font-size: 20px;
    font-weight: bold;
}

#result_emoji_name1,#result_emoji_name1{

    color:black
}

.emoji_name
{
font-size: 50px;
}

label
{
    font-size: 14px;
color:#ff6608;
background-color: #ffffff;
padding:6px;
border-radius: 10px;
}